<table class="icon-list">

  <tbody *ngFor="let iconCategory of icons.availableCategories">
  <tr>
    <th colspan="2">
      <h2>
        {{iconCategory.name}}
      </h2>
    </th>
  </tr>
  <tr *ngFor="let icon of iconCategory.icons"  class="pointer"  (click)="icons.selectIcon(icon)">
    <th>
      <mat-icon class="large-icon">{{icon.ligature}}</mat-icon>
      <mat-icon class="medium-icon">{{icon.ligature}}</mat-icon>
      <mat-icon class="default-icon">{{icon.ligature}}</mat-icon>
      <mat-icon class="small-icon">{{icon.ligature}}</mat-icon>
    </th>
    <td>
      <app-icon-preview [icon]="icon"></app-icon-preview>
    </td>
  </tr>
  </tbody>

</table>
