
html, body {
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: black;
  color: white;
}

a {
  color: white;
}


.spacer {
  flex: 1;
}

.pointer {
  cursor: pointer;
  pointer-events: all;
}

.mat-card {
  margin: 1rem;
}
